<!-- profile.ejs -->

<!DOCTYPE html>
<html>
<head>
  <title>Admin User Profile</title>
  <style>
    body {
      font-family: Arial, sans-serif;
      background-color: #f2f2f2; 
      margin: 0;
      padding: 0;
    }

    .container {
      max-width: 800px;
      margin: 50px auto;
      padding: 20px;
      background-color: #fff;
      border-radius: 4px;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    }

    h1 {
      text-align: center;
      margin-bottom: 20px;
      color: #333;
    }

    h2 {
      color: #666;
    }

    p {
      margin-bottom: 10px;
      font-weight: bold;
      color: #666;
    }

    .btn-container {
      text-align: center;
      margin-top: 30px;
    }

    .btn {
      display: inline-block;
      padding: 10px 20px;
      background-color: #4CAF50;
      color: #fff;
      border: none;
      border-radius: 4px;
      cursor: pointer;
      font-size: 16px;
      text-decoration: none;
    }

    .btn:hover {
      background-color: #45a049;
    }

    .route-list {
      margin-top: 30px;
    }

    .route-list-item {
      margin-bottom: 10px;
      padding: 10px;
      background-color: #f9f9f9;
      border-radius: 4px;
      border: 1px solid #ccc;
    }
  </style>
</head>
<body>
  <div class="container">
    <h1>Admin User Profile</h1>
    
    <h2>Welcome, <%= user.name %>!</h2>
    
    <p>Name: <%= user.name %></p>
    <p>ID: <%= user.id %></p>
    <p>Email: <%= user.email %></p>
    <p>Role: <%= user.role %></p>

    <div class="btn-container">
      <a href="/admin/routes/add" class="btn">Add Bus Route</a>
    </div>

    <div class="route-list">
      <h3>Bus Routes:</h3>
      <% if (routes?.length > 0) { %>
        <% routes?.forEach(function(route) { %>
          <div class="route-list-item">
            <p><strong>Name:</strong> <%= route.name %></p>
            <p><strong>Start Location:</strong> <%= route.startLocation %></p>
            <p><strong>End Location:</strong> <%= route.endLocation %></p>
            <p><strong>Departure Time:</strong> <%= route.departureTime %></p>
            <p><strong>ID:</strong> <%= route._id %></p>
            <form action="/reset-booked-seats/<%= route._id %>" method="POST">
              <input type="hidden" name="selectedSeat" id="selectedSeat" value="">
              <button type="submit" class="save-button">Delete reservations</button>
            </form>
        
            
        
            <a href="/admin/routes/edit/<%= route._id %>" class="btn">Edit Bus Routes</a>
            <a href="/admin/routes/delete/<%= route._id %>" class="btn">Delete Bus Routes</a>
          </div>
        <% }); %>
        
      <% } else { %>
        <p>No bus routes found.</p>
      <% } %>
    </div>
  </div>
  
  <div class="btn-container">
    <a href="/auth/logout" class="btn">Logout</a>
  </div>
</body>
</html>
